.logo {
  margin-bottom: 0;
}

.header {
  background-color: var(--primary__color);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: pxtorem(21);
  padding-bottom: pxtorem(21);
}

.header__buttons {
  color: white;
  padding-left: pxtorem(10);
  padding-right: pxtorem(10);
}

.header__drawers-list__item {
  display: inline-block;
}
