.header {
    background-color: var(--primary__color);
}

.header__buttons {
    color: white;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__drawers-list {
    display: flex;
}

.logo {
    margin-bottom: 0;
}